@charset "UTF-8";


@import "../lib/bourbon/bourbon";
@import "../lib/neat/neat";

@import "./base/base";

@import "header";
@import "footer";


.hero-dynamic {
  padding: 4.3em 1.4em;
  font-weight: 300;
  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  a {
    font-size: 0.9em;
    color: grey;
  }
}


.image-gradient-dynamic {
  $image-gradient-color-top: red; 
  $transparency-top: 0.9;
  $image-gradient-color-bottom: green; 
  $transparency-bottom: 0.6;
  $vertical-angle: 0deg;
  $image-gradient-color-left: teal; 
  $transparency-left: 0.8;
  $image-gradient-color-right: yellow; 
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;
  
  line-height: 0;
  position: relative;
  width: 100%;

  img {
   height: auto;
   left: 0; 
   position: relative;
   top: 0;
   width: 100%;
  }

  .copy {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999;

    p {
      color: white;
      font-weight: 800;
      line-height: 1.5em;
      padding: 0;
      position: relative;
    }
  }
}
